# Frontend
VITE_API_URL="http://localhost:3000"
VITE_PUBLIC_POSTHOG_KEY=phc_xxx
VITE_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com/

# Backend
DATABASE_URI=mongodb+srv//...
ORIGIN_URL="http://localhost:5173"
SENTRY_DNS=xxx
SENTRY_AUTH_TOKEN=XXX
